.buttons-container {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 20px;
  width: 90%;
  margin: 30px auto;
}

.button {
  background-color: rgba(0, 0, 0, 0.7); /* Ajusta el valor de la opacidad según tus preferencias */
  color: #fff;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra para el efecto de burbuja */
}

.button:hover {
  background-color: #ff9f43; /* Cambia el color al naranja al pasar el cursor */
}

.button.active {
  background-color: #ff9f04e8; /* Color naranja semi-transparente */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Ajusta la sombra cuando el botón está activo */
}

.button:last-child {
  margin-right: 0;
}
