/* EditarDatosModal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.308);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: rgba(0, 255, 242, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    margin: auto;
    position: relative;
    z-index: 1001;
  }
  
  .modal input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .modal .button-container {
    display: flex;
    justify-content: space-between;
  }
  
  .modal button {
    flex: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal .save-button {
    background-color: #4caf50; /* Color verde, puedes cambiarlo según tu preferencia */
    color: #fff;
  }
  
  .modal .cancel-button {
    background-color: #f44336; /* Color rojo, puedes cambiarlo según tu preferencia */
    color: #fff;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  