/* styles.css */

/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../../../public/img/NARANJA.jpg'); /* Agrega la imagen de fondo */
  background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen en el fondo */
  background-attachment: fixed; /* Mantiene la imagen estática al hacer scroll */
}

/* Estilos del encabezado */
.header-container {
  margin-top: 50px;
  margin-left: 20px; /* Ajusta el margen izquierdo según sea necesario */
  margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}

.header {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semi transparente para el encabezado */
  padding: 25px 50px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el efecto de transparencia */
}

.header-title {
  color: #fff; /* Texto blanco */
  font-size: 18px;
}

.logout-button {
  background-color: rgba(255, 159, 67, 0.7); /* Naranja semi transparente */
  color: #fff; /* Texto blanco */
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.logout-button:hover {
  background-color: #ff9f43; /* Naranja al pasar el cursor */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
}

/* Estilos de la tabla */
.my-table {
  border-collapse: collapse;
  border: 1px solid #2d2d2d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
  border-radius: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.8); /* Hace la tabla transparente de color negro */
  color: white; /* Cambia el color del texto a blanco */
}

/* Estilos del botón de agregar servicios */
.add-button {
  background-color: #ff9f43; /* Naranja */
  color: #fff; /* Texto blanco */
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: #ffbf70; /* Naranja más claro al pasar el cursor */
}
