/* En tu archivo Login.css */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../../../public/img/Charyer.jpg');
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

.login-card {
    background-color: rgba(50, 50, 50, 0.7);
    padding: 100px 50px;
    border-radius: 42px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: 50px auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2,
.login-card p,
.label,
.login-card label,
.login-button { /* Agregar el botón al selector */
    color: #fff; /* Cambiar el color del título, subtítulo, etiquetas y botón a blanco */
}

.input-group {
    margin: 20px 0;
    text-align: left;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #000; /* Cambiar el color del texto dentro de los campos de entrada a negro */
}

input::placeholder {
    color: transparent;
}

.login-button {
    background-color: rgba(50, 50, 50, 0.7);
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
}

.login-button:hover {
    background-color: rgba(30, 30, 30, 0.7);
}
