/* Estilo para el mensaje de error */
.error-message {
    color: white;
}

/* Estilo para el contenedor del login */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #aaa9ff, rgb(135, 196, 247));
    background-size: cover;
    background-position: center;
    background-color: #fff;
}

/* Estilo para la tarjeta de login */
.login-card {
    background-color: rgba(50, 50, 50, 0.7);
    padding: 100px 50px;
    border-radius: 42px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    margin: 50px auto;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Estilo para el título, subtítulo, etiquetas y botón */
h2,
.login-card p,
.label,
.login-card label,
.login-button {
    color: #fff; /* Cambiar el color del título, subtítulo, etiquetas y botón a blanco */
}

/* Estilo para el grupo de entrada */
.input-group {
    margin: 20px 0;
    text-align: left;
}

/* Estilo para el campo de entrada */
input {
    width: 100%;
    padding: 12px;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    color: #000; /* Cambiar el color del texto dentro de los campos de entrada a negro */
}

/* Estilo para el texto de marcador de posición del campo de entrada */
input::placeholder {
    color: transparent;
}

/* Estilo para el botón de login */
.login-button {
    background-color: rgba(50, 50, 50, 0.7);
    padding: 14px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px; /* Ajustar el margen superior del botón */
}

/* Estilo para el botón de login al pasar el mouse */
.login-button:hover {
    background-color: rgba(30, 30, 30, 0.7);
}